altgraph @ file:///C:/b/abs_f2edualeyv/croot/altgraph_1670426107695/work
asttokens==3.0.0
babel==2.17.0
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
colorama==0.4.6
comm==0.2.2
contourpy @ file:///C:/b/abs_f2u2o_8s9g/croot/contourpy_1732540071787/work
customtkinter==5.2.2
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
darkdetect==0.8.0
debugpy==1.8.14
decorator==5.2.1
exceptiongroup==1.3.0
executing==2.2.0
fonttools @ file:///C:/b/abs_4crkswws2h/croot/fonttools_1737040078745/work
git-filter-repo @ file:///home/conda/feedstock_root/build_artifacts/git-filter-repo_1735551402582/work
ipykernel==6.29.5
ipython==8.37.0
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver @ file:///C:/b/abs_faf90xet7a/croot/kiwisolver_1737040915779/work
matplotlib==3.10.0
matplotlib-inline==0.1.7
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
nest-asyncio==1.6.0
numpy @ file:///C:/b/abs_0123vcxhf8/croot/numpy_and_numpy_base_1725470331966/work/dist/numpy-2.0.1-cp310-cp310-win_amd64.whl#sha256=e824ec3b279f4c5207736c83ac2f2dc79b489e08501a4ea9e3fc178c45db289b
packaging==25.0
parso==0.8.4
pefile @ file:///C:/b/abs_68oy9ka6fm/croot/pefile_1720651782540/work
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
platformdirs==4.3.8
prompt_toolkit==3.0.51
psutil==7.0.0
pure_eval==0.2.3
Pygments==2.19.2
pyinstaller @ file:///C:/b/abs_93ytjkbl4r/croot/pyinstaller_1740594245129/work
pyinstaller-hooks-contrib @ file:///C:/b/abs_8bplnfue26/croot/pyinstaller-hooks-contrib_1740582676657/work
pyparsing @ file:///C:/b/abs_40z8gyj9wi/croot/pyparsing_1731445739241/work
PyQt6==6.7.1
PyQt6_sip @ file:///C:/b/abs_25j3xlesmj/croot/pyqt-split_1753427295085/work/pyqt_sip
python-dateutil==2.9.0.post0
pywin32==310
pywin32-ctypes @ file:///C:/b/abs_2cfx5l4nvi/croot/pywin32-ctypes_1709340246092/work
pyzmq==27.0.0
reportlab==3.5.67
sip @ file:///C:/b/abs_5cto136kse/croot/sip_1738856220313/work
six==1.17.0
stack-data==0.6.3
tkcalendar==1.6.1
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
tornado==6.5.1
traitlets==5.14.3
typing_extensions==4.14.1
unicodedata2 @ file:///C:/b/abs_dfnftvxi4k/croot/unicodedata2_1736543771112/work
wcwidth==0.2.13
