# PyInstaller derleme çıktıları
build/
dist/
*.spec

# Sanal ortamlar
venv/
venv_build/
*.venv/
.env/
.conda/
envs/

# Python derleme çıktıları
__pycache__/
*.pyc
*.pyo
*.pyd

# Veritabanı dosyaları (eğer proje içinde oluşturuluyorsa)
data/*.db
*.db

# Log dosyaları
logs/
*.log

# İşletim sistemi geçici dosyaları
.DS_Store
Thumbs.db

# API Key Dosyası
.env

# hooks
hooks/

# batch dosyaları
#*.bat